* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
  font-family: "Noto Sans KR", sans-serif;
}
em {
  font-style: normal;
}
.wrap {
  width: 100%;
  /* Sticky 때문에 height 씀 */
  /* height: 3000px; */
}
.menu-toggler,
.menu-toggler2 {
  display: none;
}
.header-top {
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  position: relative;
}

.menu {
  display: flex;
}

.header_search form {
  display: block;
}
.header_search form input {
  width: 620px;
  padding: 0 96px 0 36px;
  height: 52px;
  font-size: 16px;
  line-height: 52px;
  border: 2px solid #ddd;
  border-radius: 26px;
}
.menu li {
  padding: 8px 5px;
  margin-right: 5px;
}
.menu li a {
  font-size: 0.8rem;
}

.menu-starter {
  display: none;
}

.header-top span {
  position: absolute;
  right: 31%;
  top: 34%;
}
.header-top span i {
  font-size: 1.6rem;
  display: block;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
}
#menu-icon {
  font-size: 38px;
  z-index: 18;
  cursor: pointer;
  display: none;
}
/* 메뉴 바텀 바 */
.header_bottom_nav {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 8;
  border: 1px solid #d2d2d2;
  background: #fff;

  /* background-color: rgba(255, 255, 255, 0.7); */
  backdrop-filter: blur(20px);
}
#header {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
#gnbb {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 110px;
  /* height: 100%; */
  position: relative;
}

#gnbb::before {
  content: "";
  width: 100%;
  position: absolute;
  top: 101%;
  height: 250px;
  background: #fff;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0px 10px 10px 0px rgba(48, 49, 51, 6%);
  display: block;
}
#gnbb::before {
  display: none;
}
#gnbb.on::before {
  display: block;
}

.gnb__drop-down {
  position: absolute;
  top: 100%;
  padding-top: 10px;
  display: none;
}
#gnbb.on li .gnb__drop-down {
  display: block;
}

.gnb__drop-down li a {
  font-size: 1rem;
  color: #929292;
}
.gnb li {
  cursor: pointer;
  padding: 10px 0px;
}
.gnb > li > a {
  font-size: 1.1rem;
  color: #929292;
}
.gnb li a:hover {
  color: #000;
  font-weight: 500;
}
/* main */

.main {
  width: 100%;
  /*없애야함*/
  /* height: 300vh;  */
}
.visual {
  width: 100%;
}

.visual .visual-img {
  width: 100%;
  height: 700px;
  position: relative;
}
.visual .visual-img p {
  position: absolute;
  color: #000000;
}
.visual .visual-img .p-left {
  left: 10px;
  bottom: 10px;
}
.visual .visual-img p:last-child {
  right: 10px;
  bottom: 10px;
}
.visual .visual-img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: opacity 0.5s ease;
}
.visual .visual-img:hover img {
  opacity: 0.7;
}

.main-top-sec {
  width: 1200px;
  margin: 80px auto 0;

  position: relative;
}
.main-top-sec #left {
  left: -22px;
  z-index: 1;
}
.main-top-sec #right {
  right: -22px;
}
.main-top-sec h2 {
  text-align: center;
  margin-bottom: 50px;
}

.m-t-sec-top {
  display: flex;
  width: 100%;
  gap: 16px;

  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: 0;
  scroll-behavior: smooth;
}

.m-t-sec-top::-webkit-scrollbar {
  display: none;
}
.sec-top_box.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.main-top-sec > i {
  height: 50px;
  width: 50px;
  background-color: #fff;
  line-height: 50px;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}
.sec-top_box {
  width: 280px;
  height: 470px;
  text-align: center;
  position: relative;
  scroll-snap-align: start;
}
.sec-top_box i {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 5%;
  font-size: 22px;
}
.sec-top_box img {
  cursor: pointer;
  width: 270px;
  display: block;
}
.sec-top_box img:hover {
  opacity: 0;
}
.sec-top_box img:hover .top_box_img {
  display: block;
}
.top_box_img {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}
.sec-top_box-text {
}
.sec-top_box-text span {
  font-weight: bold;
  font-size: 0.9rem;
}
.sec-top_box-text p {
  margin: 4px 0;
  font-size: 0.9rem;
}
.sec-top_box-text em {
  font-style: normal;
  font-size: 0.8rem;
}
.btn-lay {
  text-align: center;
}
.top-btn {
  background-color: #000;
  border: none;
  color: #fff;
  border-radius: 6px;
  padding: 16px 70px;
  cursor: pointer;
}
.m-t-sec-mid {
  width: 1200px;
  height: 400px;
  margin: 5% auto 0;
  display: flex;
  position: relative;
  gap: 40px;
}
.m-t-sec-mid .sec-mid_l {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.m-t-sec-mid .sec-mid_l img,
.m-t-sec-mid .sec-mid_r img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
}
.mid-btn {
  /* background-color: #fff;
  border: none;
  border-radius: 6px;
  padding: 16px 70px; */
  cursor: pointer;
  position: absolute;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  /* top: 75%;
  left: 50%;
  align-items: center;
  text-align: center; */
}

.sec-top_box i:hover {
  color: red;
}
.heart-box:hover {
}
/* 작업중  */
.m-t-sec-mid .sec-mid_r {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.mid-span-brand {
  font-weight: bold;
  padding-bottom: 5px;
}
.mid-span-name {
  padding-bottom: 5px;
}
.mid-span-price {
  font-size: 0.9rem;
  font-weight: 700;
}
/* 여기까지 작업중 */

.m-t-sec-mid .sec-mid_l p {
  position: absolute;
  top: 0;
}

.sec-news {
  width: 100%;
  margin: 5% 0 3% 0;
  display: flex;
  overflow: hidden;
}
.news-layout {
  display: flex;
}
.news-layout .news-box {
  position: relative;
  cursor: pointer;
}
.sec-news:hover .animation {
  animation-play-state: paused;
}
.news-img {
}
.news-img img {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* display: block; */
  vertical-align: middle;
}

.animation {
  animation-name: infinite_slide;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes infinite_slide {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.news-box-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}
.news-box-text p {
  font-weight: bold;
  padding: 10px;
  font-size: 1.1rem;
}
.news-box-text span {
  text-decoration-line: underline;
}
.footer {
  margin-top: 8%;
  width: 100%;
  /* height: 300px; */
  background: #f5f5f5;
}
.footer-top {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #efeaea;
}
.foot-top-inner {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.foot-nav {
  height: 100%;
  display: flex;
  align-items: center;
}
.foot-nav ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.foot-nav ul li {
}
.foot-gnb {
  height: 100%;
  display: flex;
  align-items: center;
}
.foot-gnb ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.footer-bottom {
  height: 200px;
  padding-top: 20px;
}
.foot-bottom-info span {
  margin: 5px 15px 0 0;
}
.foot-bottom-info p {
  margin-top: 5px;
}
.copyright {
  padding-top: 20px;
  display: block;
  font-size: 0.7rem;
  line-height: 13px;
}

@media screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    border: 3px solid red;
    /* padding: 0 10px 0 10px; */
  }
  .header-top {
    top: 0;
    left: 0;
    height: 3.6rem;
    z-index: 100;
    width: 100%;
    position: fixed;
    background-color: #fff;
    justify-content: initial;
  }
  /* .header_search::before {
    width: 100%;
    height: 200px;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background-color: black;
    display: block;
  } */
  .header_search {
    display: none;
  }
  .header-top span {
    display: none;
  }
  .header-top h1 {
    margin: 0px auto;
  }
  /* 메뉴버튼 */
  .menu {
    display: none;
  }
  .menu-toggler,
  .menu-toggler2 {
    display: block;
  }
  .menu-toggler {
    position: absolute;

    right: 10px;
  }
  #menu-icon {
    display: block;
  }
  .menu-toggler2 i {
    font-size: 26px;
  }
  .menu-toggler2 {
    position: absolute;
    left: 10px;
  }
  /* 메뉴버튼중 */
  .header_bottom_nav {
    width: 100%;
    position: fixed;
  }

  #gnbb {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 0;
    top: 100%;
    right: 0;
    left: 100%;
    justify-content: initial;
    align-items: initial;
    bottom: 0;
    display: flex;
    gap: 0;
    flex-direction: column;
    background: #fff;

    transition: all 0.5s ease-in-out;
  }
  #gnbb.open {
    left: 0;
  }
  /* 8시 여기서 부터 */
  #gnbb::before {
    display: none;
  }

  #gnbb.on::before {
    display: none;
  }
  .gnb__drop-down {
    display: none;
    /* display: block;
    position: static; */
  }
  .gnb li {
    padding-left: 10px;
    width: 100%;
  }
  /* 8시 여기까지 */
  .main {
    width: 100%;
  }
  .visual {
    padding-top: 56.6px;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .visual-img {
    width: 100%;
  }
  .visual .visual-img {
    /* overflow: hidden; */
    /* object-fit: fill; */
    height: 100%;
  }

  .visual-box1,
  .visual-box2,
  .visual-box3 {
    width: 70%;
    height: 4rem;
    margin: 0 auto;
  }

  .visual-box4 {
    width: 70%;
    margin: 0 auto;
    display: none;
  }
  .main-top-sec {
    display: flex;
    flex-direction: column;

    width: 100%;
  }
  .main-top-sec #left {
    left: 0;
  }
  .main-top-sec #right {
    right: 0;
  }
  .m-t-sec-top {
    width: 100%;
    /* overflow: hidden; */
  }
  .sec-top_box {
    width: 100%;
  }

  .m-t-sec-mid {
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .mid-btn {
    left: 50%;
    font-size: 1.4rem;
    transform: translateX(-50%);
  }

  .sec-news {
    width: 100%;
  }

  .news-box-text {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .foot-top-inner {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
    align-items: center;
    /* gap: 1rem; */
  }
  .foot-nav ul {
  }
  .foot-nav ul li a {
  }
  .foot-gnb {
    margin-left: 20px;
  }
  .foot-gnb ul {
  }
  .foot-gnb ul li a {
    font-weight: bold;
  }
  .footer-bottom {
  }
  .foot-bottom-info span {
    margin: 0;
  }
}
@media screen and (max-width: 560px) {
  .wrap {
    width: 100%;
    border: 2px solid goldenrod;
    /* padding: 0 10px 0 10px; */
  }
  .main-top-sec > i {
    height: 34px;
    width: 34px;
    background-color: #fff;
    line-height: 34px;
    border-radius: 50%;
    top: 50%;
    font-size: 1rem;
  }
  /* news */
  .m-t-sec-top {
    width: 90%;

    margin: 0 auto;
  }
  .sec-top_box {
    width: 100%;
    height: auto;
  }
  .sec-news {
    height: 400px;
  }
  .sec-top_box img {
    width: 200px;
  }
  .sec-top_box-text span {
    font-weight: bold;
  }
  .sec-top_box-text p {
    margin: 4px 0;
  }
  .sec-top_box-text em {
    font-style: normal;
  }
  .btn-lay {
    padding-top: 2rem;
  }
  .top-btn {
    padding: 14px 50px;
  }
  /* // news */
  .m-t-sec-mid {
    gap: 0;
  }
  .m-t-sec-mid .sec-mid_l img,
  .m-t-sec-mid .sec-mid_r img {
    object-fit: cover;
  }
  /* visual */
  .visual {
    width: 100%;
  }
  .visual .visual-img {
    overflow: hidden;
    max-width: 100%;
    height: 30rem;
  }
  /* // visual */

  .foot-top-inner {
    display: flex;
    flex-direction: column;
  }
}
